.background-container {
    max-width: 1440px;
    width: 100%;
    height: 900px;
    background-color: #9DBEBB ;
}

.form-container {
    max-width: 954px;
    width: 100%;
    height: 594px;
    Fill: Solid;
    background-color: #BE0909;
    radius: 32px;
    Offset: 0px, 0px;
    color:rgba(0, 0, 0, 0.25);

}